<h1>Project test application</h1>
<p>Welcome to your new single-page test app application for Projectmonitor</p>

<p>The following page will generate a http json error </p>
<ul>
  <div>
    <p class="error"></p>
    <button>Generate 100</button>
  </div>
  <div>
    <p class="name"></p>
    <button>Genarate 200</button>
  </div>
  <div>
    <p class="name"></p>
    <button>Generate 300</button>
  </div>
  <div>
    <p class="name"></p>
    <button>Generate 400</button>
  </div>
  <div>
    <p class="name"></p>
    <button>Generate 500</button>
  </div>
</ul>
